*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #ffffff;
}

#logo {
	clip-path: polygon(27% 22%, 12% 53%, 30% 81%, 79% 80%, 90% 46%);
}

#cabecera {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	background-image: url(https://images.pexels.com/photos/868110/pexels-photo-868110.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	height: 820px;
	border-bottom: 10px solid #0D378C;
}

#contenedor{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	background-position: center;
	padding: 5px;
    background-color: rgba(218, 194, 228, 0.5);
    width: 100%;
    height: 100px;  
}


#nombre {
	font-family: 'Permanent Marker', 'Arial';
	font-size: 50px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	width: 100%;
	padding-right: 10px;
}

#sectionPrincipal {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
	width: 100%;
}

#novedades {
	background-image: url(https://images.pexels.com/photos/255501/pexels-photo-255501.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
	background-size: cover;
	width: 100%;
	max-width: 380px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: flex-start;
	padding: 10px;
}

.promociones {
	text-align: center;
	border-radius: 20px;
	background-color:  rgba(194, 228, 225, 0.8);
	margin-bottom: 10px;
	padding: 10px;
	padding-bottom: 15px;
}

#novedades h3{
	font-family: 'Permanent Marker', 'Arial';
	font-size: 25px;
	padding-bottom: 8px;
}

#novedades article {
	justify-content: center;
	text-align: center;
	width: 100%;
}

.promos{
	display: flex;
	width: 400%;
}

#loMasVendido{
	background-color: rgba(194, 228, 225, 0.8);
	border-radius: 20px;
	padding: 10px;
	padding-bottom: 15px;
	width: 100%;
}

#principio {
	margin: 10px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: flex-start;
	padding: 10px;
	width: 100%;
}

#principio h2 {
	font-family: 'Permanent Marker', 'Arial';
}

#principio p {
	font-family: 'Courgette', cursive;
}

#NoticiasYNovedades {
	margin-top: 20px;
	text-align: right;
	font-size: 20px;
	padding: 10px;
	border-radius: 20px;
	background-color: #F25C07;
	margin-right: 200px;
	width: 100%;
}

#descripcionCorta {
	font-size: 20px;
	padding: 10px;
	margin-left: 200px;
	border-radius: 20px;
	background-color: #2BA8D9;
	max-width: 1600px;
}

#plus_principio {
	font-size: 20px;
	margin-top: 20px;
	padding: 10px;
	border-radius: 20px;
	background-color: #00E82D;
	margin-left: 200px;
	max-width: 1600px;
}

#icon-service {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

#icon-service img {
	margin: 50px;
	margin-bottom: 0px;
}

#icon-service a {
	font-family: 'Piedra display', 'Permanent Marker';
	text-align: center;
	text-decoration: none;
	text-shadow: 0 0 0 10px #fff,
				 0 15px 50px;;
}

#nav1 {
	width: auto;
	margin: 30px auto;
	font-family: 'Monoton display', 'Permanent Marker';
	text-align: center;
	
}

#nav1 a{
	font-family: 'Piedra display', 'Permanent Marker';
	color: #000000;
	font-size: 25px;
	text-decoration: none;
}

#nav1 ul{
	list-style: none;
}

#nav1 li{
	display: inline-block;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 5px 5px;
}

.submenu{
	position: absolute;
	background-color: rgba(218, 194, 228, 0.5);
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #ffffff;
}

.menu li:hover .submenu{
	display: block;
	visibility: visible;
	opacity: 1;
}

a:hover {
	animation: sup_click;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	position: relative;
}

footer{
	padding-top: 30px;
	color: #ffffff;
	background-color:#0D378C;
	padding-bottom: 20px;
	text-align: center;
	
}
footer p{
	font-family: 'Monoton', cursive;
	font-size: 30px;
}

footer a{
	color: #ffffff;
	font-size: 40px;
}

@keyframes sup_click{
	0% {color: #000000; left: 0px; top: -5px;}
	25% {color: #FF0D0D; left: 0px; top: 5px;}
	50% {color: #FFFC00; left: 0px; top: -5px;}
	75% {color: #006914; left: 0px; top: 5px;}
	100% {color: #000000;left: 0px; top: -5px;}
}

.c-slider {
	margin: auto;
	margin-bottom: 10px;
	width: 90%;
	box-shadow: 0 0 0 10px #fff,
				0 15px 50px;
	overflow: hidden;
}

.promos section {
	width: 100%;
}

.promos section img{
	display: block;
	width: 100%;
	height: 100%;
}

@media (max-width:480px) {
	#cabecera {
		background-size: auto;
		height: 400px;
	}

	#contenedor {
		flex-wrap: wrap;
		align-items: center;
		height: 50px;
		position: relative;
		padding: 0;
	}

	#contenedor img {
		margin: 0;
		width: 150px;
	}

	#contenedor h1{
		font-size: 20px;
		text-align: center;
	}

	#nav1 {
		align-items: center;
		position: relative;
		padding: 0;
		margin-top: 370px;
		background-color: rgba(218, 194, 228, 0.5);
		left: 0;
		
	}

	#nav1 a{
		margin-top: 0;
		padding: 0;
		font-size: 10px;
	}

	#nombre {
		position: absolute;
	}

	#sectionPrincipal{
		flex-wrap: wrap;
	}

	#novedades {
		max-width: 100%;
	}

	#promos img{
		width: 1200px;
	}

	#principio{
		align-items: center;
	}

	#descripcionCorta{
		margin-left: 0;
		width: auto;
		max-width: 400px;
		font-size: 11px;
	}

	#NoticiasYNovedades{
		margin-left: 0;
		width: auto;
		max-width: 400px;
		font-size: 11px;
		margin-right: 0;
	}

	#plus_principio{
		margin-left: 0;
		width: auto;
		max-width: 400px;
		font-size: 11px;
	}

	#icon-service img {
		width: 60px;
		margin: 10px;
	}

	footer p{
		font-size: 20px;
	}

	footer a{
		font-size: 20px;
	}
}