* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFFFEA;
    width: auto;
}

#cabecera{
    background-image: url(https://images.pexels.com/photos/868110/pexels-photo-868110.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: 100%;
    border-bottom: solid 7px #7E6B8F;
}

#nombre{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    align-content: stretch;
    background-size: 100%;
    font-family: 'Permanent Marker', 'Arial';
    height: 300px;
}

#nombre div{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
    align-content: stretch;
    font-size: 30px;
}

#contenedor{
    width: 100%;
    height: 60px;
    background-color: rgba(218, 194, 228, 0.5);
}

#logo{
    margin: -10px;
    margin-left: 5px;
    margin-right: 5px;
    width: 250px;
    clip-path: polygon(27% 22%, 12% 53%, 30% 81%, 79% 80%, 90% 46%);
}

#menu-bar{
    display: none;
    padding-left: 20%;
}

#barra{
    font-size: 40px;
    margin-right: 10px;
}

#barra:hover{
    cursor: pointer;
}
#nav1{
    position: absolute;
    top: 305px;
    left: 0;
    width: 100%;
    background-color:  rgba(47, 102, 144, 0.7);
    display: inline-block;
    transition: 0.5s;
    transform: translateX(100%);
    opacity: 0;
    height: 100vh;
}

.menu{
    margin-left: 50px;
}

.menu a {
    font-size: 20px;
    text-decoration: none;
    list-style: none;
    color: #D9DCD6;
    padding-bottom: 5px;
    display: block;
    border-bottom: 2px solid #81C3D7;
}

.menu a:hover{
    animation: enlace;
    animation-duration: 2s;
    animation-iteration-count: infinite;
	position: relative;
}

.submenu{
    padding-left: 20px;
    color: #D9DCD6;
}

#menu-bar:checked + label #nav1{
    transform: translateX(0%);
    opacity: 1;
}

@keyframes enlace{
    0% {color: #81C3D7; left: 0px; left: -5px;}
	25% {color: #FF0D0D; left: 0px; left: 5px;}
	50% {color: #FFFC00; left: 0px; left: -5px;}
	75% {color: #006914; left: 0px; left: 5px;}
	100% {color:#81C3D7;left: 0px; left: -5px;}
}

/*Desde aca empieza la seccion principal*/

#principal{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    align-content: center;
    background-image: url(https://images.pexels.com/photos/255501/pexels-photo-255501.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
	background-size: cover;
    width: 100%;
    text-align: center;
    font-family:  'Permanent Marker', 'Arial';
    color: #150811;
}

#novedades{
    margin: 10px;
    padding: 25px;
    padding-top: 0;
    background-color: rgba(218, 194, 228, 0.5);
    border-radius: 10px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: center;
    width: auto;
}

.promociones{
    width: 100%;
}

.promociones h3{
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 10px;
}

.promos img{
    width: 70%;
    margin: auto;
	margin-bottom: 20px;
	box-shadow: 0 0 0 10px #fff,
				0 15px 50px;
	overflow: hidden;
}

#img-lo-mas-vendido img{
    margin-bottom: 0;
}

/*Aqui empieza la seccion informatica*/

#cont1{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

#descripcionCorta{
    background-color: #00CECB;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

#NoticiasYNovedades{
    background-color: #D8D8D8;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

#plus_principio{
    background-color: #FFED66;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

#icon-service {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

#icon-service img {
	margin: 20px;
	margin-bottom: 0px;
    width: 150px;
}

#icon-service a {
	text-align: center;
	text-decoration: none;
	text-shadow: 0 0 0 10px #fff,
                 0 15px 50px;;
}

#icon-service a:hover {
    animation: enlace;
    animation-duration: 2s;
    animation-iteration-count: infinite;
	position: relative;
}

#icon-service a p{
    font-family: 'Permanent Marker', 'Arial';
}

#principio h2{
    font-family: 'Permanent Marker', 'Arial';
    font-size: 25px;
}

#principio p{
    font-family: 'Courgette', cursive;
    font-size: 20px;
}

/*Aqui empieza el footer*/

footer{
	padding-top: 30px;
	color: #ffffff;
	background-color: #7E6B8F;
	padding-bottom: 20px;
	text-align: center;
	
}
footer p{
	font-family: 'Monoton', cursive;
	font-size: 30px;
}

footer a{
    margin-left: 5px;
    margin-right: 5px;
	color: #ffffff;
    font-size: 40px;
}

#redes a:hover {
    animation: enlace;
    animation-duration: 2s;
    animation-iteration-count: infinite;
	position: relative;
}
    
/* aqui empieza la media*/